{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-center">
        <h1>Анализ эффективности продаж</h1>
    </div>
    <div class="d-flex justify-content-center pt-xl-5">
        <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">3 месяца</th>
      <th scope="col">Ноябрь</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Доля рынка по сегменту</th>
      <td>{{ conv_branch_all }} %</td>
      <td>

        <div class="container">
            <div class="row">
                <div class="col- pr-1">{{ conv_branch_nov }} %</div>
                <div class="col- pl-1">
                    {% if fig1_type == 1 %}
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-up-square-fill" fill="{{ color1 }}" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4 9a.5.5 0 0 1-.374-.832l4-4.5a.5.5 0 0 1 .748 0l4 4.5A.5.5 0 0 1 12 11H4z"/>
                    </svg>
                    {% else %}
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-square-fill" fill="{{ color1 }}" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4 4a.5.5 0 0 0-.374.832l4 4.5a.5.5 0 0 0 .748 0l4-4.5A.5.5 0 0 0 12 6H4z"/>
                    </svg>
                    {% endif %}
                </div>
            </div>
        </div>

      </td>
    </tr>
    <tr>
      <th scope="row">Доля рынка по проффесионалам</th>
      <td>{{ conv_professionals_all }} %</td>
      <td>

        <div class="container">
            <div class="row">
                <div class="col- pr-1">{{ conv_professionals_nov }} %</div>
                <div class="col- pl-1">
                    {% if fig2_type == 1 %}
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-up-square-fill" fill="{{ color2 }}" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4 9a.5.5 0 0 1-.374-.832l4-4.5a.5.5 0 0 1 .748 0l4 4.5A.5.5 0 0 1 12 11H4z"/>
                    </svg>
                    {% else %}
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-square-fill" fill="{{ color2 }}" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4 4a.5.5 0 0 0-.374.832l4 4.5a.5.5 0 0 0 .748 0l4-4.5A.5.5 0 0 0 12 6H4z"/>
                    </svg>
                    {% endif %}
                </div>
            </div>
        </div>

      </td>
    </tr>
  </tbody>
</table>

    </div>
</div>
{% endblock %}
